@import "tailwindcss";
*{
  margin: 0px;
}
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}


@keyframes smooth-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-smooth-bounce {
  animation: smooth-bounce 3s ease-in-out infinite;
}
  
.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6), 
               0px 4px 12px rgba(0, 0, 0, 0.4);
}
