@import "tailwindcss";
*{
  margin: 0px;
}
:root {
  --brand-dark: #154D71;
  --brand-primary: #1C6EA4;
  --brand-accent: #33A1E0;
  --brand-highlight: #FFF9AF;
}
body {
  font-family: 'Inter', sans-serif;

}