@import "tailwindcss";
*{
  margin: 0px;
}

body {
  font-family: 'Inter', sans-serif;

}
@keyframes smooth-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-smooth-bounce {
  animation: smooth-bounce 3s ease-in-out infinite;
}
  
.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6), 
               0px 4px 12px rgba(0, 0, 0, 0.4);
}
